@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display"),
    url(./assets/fonts/SFProDisplay-Regular.ttf) format("truetype");
}

* {
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  font-family: SF Pro Display;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
